/* Загальний стиль для тексту */
body {
    color: #000; /* Чорний текст */
}

/* Задній фон в чорному кольорі */
body {
    background-color: #000;
}

/* Посилання в чорному кольорі */
a {
    color: #000;
}

/* Наприклад, кнопка з фоном і текстом в різних відтінках чорного */
.button {
    background-color: #333; /* Темний чорний фон */
    color: #fff; /* Білий текст */
    border: 2px solid #000; /* Чорна рамка */
}

/* Рамка в чорному кольорі */
.container {
    border: 1px solid #000;
}
